<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.yang.dao.UserMapper">

    <resultMap id="UserMap" type="User">
        <!--column数据库中的字段，property实体类中的属性-->
        <result column="pwd" property="password"/>
    </resultMap>

<!--    select 查询语句-->
    <select id="getUserList" resultMap="UserMap">
        select * from mybatis.user
    </select>

    <select id="getUserById" parameterType="_int" resultType="yaya">
        select * from mybatis.user where id= #{id}
    </select>
    <!--分页-->
    <select id="getUserByLimit" parameterType="map" resultMap="UserMap">
        select * from user limit #{startIndex},#{pageSize}
    </select>
    <!--分页2-->
    <select id="getUserByRowBounds" resultMap="UserMap">
        select * from user
    </select>

<!--对象中的属性可以直接取出来-->
    <insert id="addUser" parameterType="com.yang.pojo.User" >
        insert into user (id,name ,pwd)
        values (#{id},#{name},#{pwd});
    </insert>

    <update id="UpdateUser" parameterType="com.yang.pojo.User">
        update user
        set name = #{name},pwd = #{pwd}
        where id = #{id};
    </update>

    <delete id="DeleteUser" parameterType="int">
        delete
        from user
        where id = #{id};
    </delete>

</mapper>
