<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yang.dao.BlogMapper">
    <insert id="addBlog" parameterType="blog">
        insert into mybatis.blog (id,title,author,create_time,views)
        values (#{id},#{title},#{author},#{createTime},#{views});
    </insert>

    <sql id="if-title-author">
        <if test="title != null">
            and title like #{title}
        </if>
        <if test="author != null">
            and  author like #{author}
        </if>
    </sql>
    <select id="queryBlogIF" parameterType="map" resultType="blog">
        select *
        from blog
        where 1=1
        <include refid="if-title-author"></include>
    </select>

    <select id="queryBlogChoose" parameterType="map" resultType="blog">
        select * from blog
        <where>
            <choose>
                <when test="title != null">
                    and title like #{title}
                </when>
                <when test="author != null">
                    and  author like #{author}
                </when>
                <otherwise>
                    and views like #{views}
                </otherwise>
            </choose>
        </where>
    </select>

<!--    select * from blog where 1=1 and (id=1 or id=2 or id=3)
        我们现在传一个万能map， 这个map可以存储一个集合-->
    <select id="queryBlogForeach" parameterType="map" resultType="blog">
        select * from blog
        <where>
            <foreach collection="ids" item="id" open="and (" close=")" separator="or">
                id = #{id}
            </foreach>
        </where>
    </select>


</mapper>
